.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  

  .card-img-top {
    object-fit: contain;
    aspect-ratio: 1/1;
}
div{
  display:block;
}
.company-info-group {
  background-color: #17a2b8;
  color:#fff;
  padding: 64px 0;
  text-align: center !important;

}
.fa{
  font-size: 36px !important;
  
}
span.current-price{
  color:#e61b80;
  font-size:28px;
  font-weight:700;
}
.m-link{
  display:block;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
