<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title  %}Like Bijoux{% endblock %}</title>
      
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

   
</head>
<body>
  
<header>
    {{ render(controller(
        'App\\Controller\\PartialController::showNav',
        { }
    )) }}
  </header>
    {% block body %}{% endblock %}
   

    
            
          
          

        <footer>
          
            <div class="company-info-group">
              <div class="company-name">LIKE BIJOUX</div>
              <div class="company-address">12, rue de lappe 75011 paris</div>	
              <div class="company-address1">5, rue de conflans 94400 charenton</div>
              <div class="company-phone">+33 456123789</div>
              <div class="company-email">
                <a href="mailto:info@likebijoux.com">info@likebijoux.com</a>
              </div><div id="j_idt188" class="ui-outputpanel ui-widget company-social-group">
                  <a class="stb st-social-instagram-1 social-icon" href="https://horseandrider.ch" target="_blank" rel="nofollow">
                    <span class="seo-anchor-link">social link</span>
                  </a>
                  <a class="stb st-messaging-whatsapp social-icon" href="http://wa.me/+41792098976" target="_blank" rel="nofollow">
                    <span class="seo-anchor-link">social link</span>
                  </a>
                  <a class="stb st-social-media-facebook-1 social-icon" href="https://horseandrider.ch" target="_blank" rel="nofollow">
                    <span class="seo-anchor-link">social link</span>
                  </a></div>
  
              <div class="payment-setting-list">
                  <b class="text-size-sm mb-2">Wir akzeptieren die folgenden Zahlungsarten</b>
  
                <div class="payment-setting-logo-list"><img id="j_idt196:0:j_idt197" src="https://media.klarapay.ch/assets/cardIcons/card_alipay.svg?pfdrid_c=true" alt="" class="logo" data-tooltip="Alipay">
                </div>
              </div>
  
              <hr>
  
              <div class="privacy-download">
                <a href="/resources/file/KLARA_Website_Datenschutzerklarung_generisch.pdf" target="_blank">Datenschutz-Bestimmungen</a>
                  <a href="/de/sitemap">Sitemap</a>
              </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
         
    </body>
    </html>
  
 






      

















