<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title  %}Like Bijoux{% endblock %}</title>
      
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

   
</head>
<body>
  
<header>
    {{ render(controller(
        'App\\Controller\\PartialController::showNav',
        { }
    )) }}
  </header>
    {% block body %}{% endblock %}
   

    
            
          
          

        <footer>
          
            <div class="company-info-group">
              <div class="company-name">LIKE BIJOUX</div>
              <div class="company-address">12, rue de lappe 75011 paris</div>	
              <div class="company-address1">5, rue de conflans 94400 charenton</div>
              <div class="company-phone">+33 456123789</div>
              <div class="company-email">
                <a href="mailto:info@likebijoux.com">info@likebijoux.com</a>
              </div>
  
              <div class="payment-setting-list">
                  <b class="text-size-sm mb-2">Nous acceptons les modes de paiement suivants</b>
  
                <div class="payment-setting-logo-list"><img src="image/stripepaiement.png"
                  alt="stripe">
                </div>
              </div>
  
              <hr>
  
              
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

       
         
    </body>
    </html>
  
 






      

















