<html>
    <head><title>Thanks for your order!</title></head>
    <body>
      <h1>Merci pour votre achat!</h1>
      <p>
        <a href="{{path('app_home')}}" class="btn btn-info">Retour à la boutique.</a>
        
      </p>

     
    </body>
  </html>